{{
    require '_header.html.twig';
}}

<h1>About us</h1>

<p>
    this is a demo website
    <br>
    to learn about well-structured, OO PHP web applications ....
</p>


{{
    require '_footer.html.twig';
}}


